.main-flex-container {
    height: 100vh;
    /* flex-direction: column; */
    /* grid-template: repeat(20, 1fr) / repeat(20, 1fr); */
}

.main-layout {
    min-width: 370px;
    margin: 0 0.625rem;
}

@media (min-width:750px) {
    .main-layout {
        margin: 0 auto;
        max-width: 700px;
    }
}

@media (min-width:950px) {
    .main-layout {
        max-width: 900px;
    }
}

@media (min-width:1300px) {
    .main-layout {
        max-width: 1260px;
    }
}