.main-flex-container {
    height: 100vh;
    /* flex-direction: column; */
    /* grid-template: repeat(20, 1fr) / repeat(20, 1fr); */
}

.main-layout {
    max-width: 1260px;
    margin: 0 auto;
}

@media (max-width:1340px) {
    .main-layout {
        max-width: 1000px;
    }
}