.main-editor-container {
    grid-area: 1 / 1 / span 10 /span 10;
    display: none;
    grid-template: 1fr 5fr / 1fr;
}

@media (min-width:950px) {
    .main-editor-container {
        grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    }
}