.main-canvas-container {
    grid-area: 1 / 1;
    height: 70vw;
    width: 70vw;
    margin: auto;
    max-width: 380px;
    max-height: 380px;
}

.main-canvas-container canvas {
    box-shadow: 0px 0px 0px 4px var(--clr6b);
}

.main-canvas-container,
.main-canvas-container canvas {
    border-radius: 20px;
}