.meme-controls-container {
    grid-area: 1 / 7 / span 10 / span 5;
    background-color: var(--clr4);
    display: grid!important;
    grid-template: repeat(6, 1fr) / repeat(5, 1fr);
    padding: 15px;
    /* flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    border-radius: 20px;
}

.meme-controls-container .line-text {
    font-size: 1.5rem;
    padding: 0 15px;
    margin: 20px;
    color: var(--clr6);
    border: 0;
    border-radius: 100px;
    grid-column: span 5;
}

.meme-controls-container .switch-line {
    grid-area: 2 / 2;
}


/* .meme-controls-container .text-config-bc {
    grid-area: 3 / span 5 / span 2;
} */

.meme-controls-container .main-color-picker {
    background-color: inherit;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    grid-area: 4 / 5;
    height: 80%;
    width: 80%;
}