.meme-controls-container {
    max-height: 42vh;
    overflow-y: scroll;
    margin-top: 10px;
    grid-area: 2 / 1 / span 10 / span 5;
    background-color: var(--clr4);
    display: grid!important;
    grid-template: repeat(autofit 1fr) / repeat(3 1fr);
    padding: 15px;
    justify-items: center;
    border-radius: 20px;
}

.meme-controls-container .load-bear {
    display: none;
}

.meme-controls-container>*:not(.main-color-picker) {
    min-height: 50px;
    margin: 8px 0;
    width: 90%;
    border: none;
}

.meme-controls-container .line-text {
    padding: 0 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.63);
    color: #FFF;
    outline: none;
    border-radius: 100px;
}

.meme-controls-container .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme-controls-container .button-container>* {
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50px;
    width: 90%
}

.meme-controls-container .main-color-picker {
    opacity: 0;
    height: 100%;
    width: 100%;
}

.meme-controls-container .main-color-picker-img {
    background-image: url(../../../assets/icons/color.png);
}

.meme-controls-container .secnd-color-picker-img {
    background-image: url(../../../assets/icons/border-color.png);
}

.meme-controls-container .secnd-color-picker {
    opacity: 0;
    height: 100%;
    width: 100%;
}

.meme-controls-container .increase-font-size {
    background-image: url(../../../assets/icons/text-inc.png);
}

.meme-controls-container .decrease-font-size {
    background-image: url(../../../assets/icons/text-dec.png);
}

.meme-controls-container .text-align-left {
    background-image: url(../../../assets/icons/align-l.png);
}

.meme-controls-container .text-align-center {
    background-image: url(../../../assets/icons/align-c.png);
}

.meme-controls-container .text-align-right {
    background-image: url(../../../assets/icons/align-r.png);
}

.meme-controls-container .download-meme {
    font-family: mary-l, sans-serif;
    line-height: 3em;
}

@media (min-width:370px) {
    .meme-controls-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .meme-controls-container .line-text {
        grid-column: span 2;
    }
}

@media (min-width:400px) {
    .meme-controls-container .line-text {
        font-size: 1.5rem;
    }
    .meme-controls-container .line-text::placeholder {
        font-size: 1.5rem;
    }
}

@media (min-width:530px) {
    .meme-controls-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .meme-controls-container .line-text {
        grid-column: span 3;
    }
    .load-bear {
        display: block!important;
    }
}

@media (min-width:950px) {
    .meme-controls-container {
        grid-area: 1 /6 / span 10 / span 5;
        gap: 20px;
        max-height: 70vh;
    }
}