.meme-controls-container {
    max-height: 42vh;
    overflow-y: scroll;
    margin-top: 10px;
    grid-area: 2 / 1 / span 10 / span 5;
    background-color: var(--clr4);
    display: grid!important;
    grid-template: repeat(autofit 1fr) / repeat(3 1fr);
    padding: 15px;
    justify-items: center;
    border-radius: 20px;
}

.meme-controls-container>*:not(.main-color-picker) {
    min-height: 50px;
    margin: 8px 0;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 20px;
    /* background-size: contain; */
    width: 90%;
    /* background-color: #FFF; */
    border: none;
}

.meme-controls-container .line-text {
    /* background-color: var(--clr1); */
    padding: 0 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.63);
    color: #FFF;
    outline: none;
    font-size: 1.5rem;
    border-radius: 100px;
}


/* .meme-controls-container .line-text:hover {
    background: linear-gradient(90deg, var(--clr2) 0%, var(--clr3) 100%);
}

.meme-controls-container .line-text:focus {
    background: linear-gradient(90deg, var(--clr2) 0%, var(--clr3) 100%);
} */

.meme-controls-container .switch-line {
    /* grid-area: 2 / 2; */
}


/* .meme-controls-container .text-config-bc {
    grid-area: 3 / span 5 / span 2;
} */

.meme-controls-container .main-color-picker {
    opacity: 0;
    height: 100%;
    width: 100%;
}

.meme-controls-container .main-color-picker-img {
    /* opacity: 0; */
    /* grid-area: 4/5; */
    background-image: url(../../../assets/icons/color.png);
    /* height: 100%;
    width: 100%; */
    /* back */
}

.meme-controls-container .increase-font-size {
    /* grid-area: 3/1; */
    background-image: url(../../../assets/icons/text-inc.png);
}

.meme-controls-container .decrease-font-size {
    /* grid-area: 3/2; */
    background-image: url(../../../assets/icons/text-dec.png);
}

.meme-controls-container .text-align-left {
    /* grid-area: 3/3; */
    background-image: url(../../../assets/icons/align-l.png);
}

.meme-controls-container .text-align-center {
    /* grid-area: 3/4; */
    background-image: url(../../../assets/icons/align-c.png);
}

.meme-controls-container .text-align-right {
    /* grid-area: 3/5; */
    background-image: url(../../../assets/icons/align-r.png);
}

.meme-controls-container .font-picker {
    /* grid-area: 4 /1; */
}

.meme-controls-container .download-meme {
    line-height: 3em;
}

@media (min-width:370px) {
    .meme-controls-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .meme-controls-container .line-text {
        grid-column: span 2;
    }
}

@media (min-width:530px) {
    .meme-controls-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .meme-controls-container .line-text {
        grid-column: span 3;
    }
}

@media (min-width:950px) {
    .meme-controls-container {
        grid-area: 1 /6 / span 10 / span 5;
        gap: 20px;
        max-height: 70vh;
    }
}