header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px!important;
    border-radius: 55px;
    font-family: mary-m, sans-serif;
    background: linear-gradient(90deg, var(--clr2) 0%, var(--clr3) 100%);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.63);
    color: #FFF;
    /* padding: 10px 50px; */
    font-size: 0.875rem;
}

header>*,
header li:first-child {
    padding-inline-end: 5px;
}

header nav {
    justify-content: space-between;
}

header ul {
    display: flex;
    justify-content: space-between;
}


/* header li:first-child a {
    margin-inline-end: 40px;
} */

@media (min-width:750px) {
    header {
        height: 30px;
    }
}

@media (min-width:950px) {
    header {
        height: 45px;
    }
}