header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-radius: 55px;
    font-family: mary-m, sans-serif;
    font-size: 1.375rem;
    background: linear-gradient(90deg, var(--clr2) 0%, var(--clr3) 100%);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.63);
    color: #FFF;
    padding: 10px 50px;
    height: 100px;
}

header .logo {
    font-size: 2.375;
}

header nav {
    /* display: flex; */
    /* width: 100%; */
    justify-content: space-between;
}


/* header nav :first-child {
    margin-inline-start: 80px;
} */

header ul {
    display: flex;
    justify-content: space-between;
}

header li:first-child a {
    margin-inline-end: 40px;
}