.main-content-container {
    height: 88vh;
    margin-top: 1em;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.61);
    border-radius: 15px;
    background-color: var(--clr4);
}

.main-content-container.meme-mode {
    box-shadow: none;
    background-color: initial;
}

.main-content-container>* {
    grid-column: span 10;
}

@media (min-width:750px) {
    .main-content-container {
        padding: 10px 60px;
        margin-top: 2em;
        height: 70vh;
    }
}