@font-face {
    font-family: mary-l;
    src: url(assets/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: mary-m;
    src: url(assets/fonts/poppins/Poppins-Medium.ttf);
}


/* @font-face {
    font-family: impact;
    src: url(/assets/fonts/poppins/Poppins-Medium.ttf);
} */